@charset "utf-8";


@media screen and (min-width: 981px){
    body{
        font-family: 'Economica', sans-serif;
    }

    .container{
        padding: 0px 150px 0 200px;
        color: #fff;
        
    }
    /*menu_setting*/
    .nav-icons{
        background-color: #fff;
        display: flex;
        height: 90px;
        justify-content: center;
    }
    .menu-p{
        margin: 30px 10px 10px 10px;
        font-size: 25px;
    }

    /*profile_setting*/
    .profile-wrapper{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        padding: 100px;
    }

    .profile_img{
        border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
        width:  350px;       /* ※縦横を同値に */
        height: 350px;       /* ※縦横を同値に */
        margin-right: 100px;
        
    }

    .big_name{
        
        font-size: 100px;
    }
    
    .profile-wrapper p{
        font-size: 40px;
    }

    /*achievement_setting*/
    .achievement{
        margin-top: 200px;
    }

    .section_subtitile{
        margin-top: 90px;
        margin-bottom: 40px;
        font-size: 50px;
    }

    .section_titile{
        font-size: 80px;
    }

    .year{
        margin: 30px 0 0 30px;
        font-size: 40px;
    }

    .year_left{
        font-size: 40px;
        margin-left: 400px;
    }

    .tools_img{
        width: 150px;
    }

    .flex{
        display: flex;
    }
    .tools_img_spe{
        margin: 30px 0px 0 10px;
        width: 150px;
    }

    .tools_img_spe_1{
        width: 250px;
    }

    .center{
        justify-content: center;
    }

    .tools_img_1{
        border-radius: 50%;
        width: 70px;
        height: 70px;
        margin-top: 20px;
        margin-left: 210px;
        
    }

    .tools_img_spe_2{
        width: 70px;
        margin-top: 20px;
        margin-left: 200px;
    }
    .between{
        display: flex;
        justify-content: space-between;
    }

    footer{
        margin-top: 300px;
        margin-bottom: 100px;
        color: #fff;
        text-align: center;
        font-size: 30px;

    }
     /*========= particle js を描画するエリア設定 ===============*/
    
        #particles-js{ 
        position:fixed;/*描画固定*/
        z-index:-1;/*描画を一番下に*/
        width: 100%;
        height: 100vh;
        background-color:rgb(35, 35, 35);/*背景色*/
        }
    
        #wrapper{
        position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
        z-index: -1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
        width:100%;
        height: 100vh;
        }
    
        article{
            background-color: #fff;
        }

        
    
}

/*----終了-----*/
/*
.icon p{
    font-family: "Courier New", Courier, "AXIS Std", monospace, Arial, serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
}
*/
/*--------ここからスマホ用CSS設定----------*/
@media screen and (max-width: 720px){
    body{
        font-family: 'Economica', sans-serif;
    }

    .container{
        color: #fff;
        padding: 20px;
        
    }
    /*menu_setting*/
    .nav-icons{
        background-color: #fff;
        display: flex;
        height: 90px;
        justify-content: center;
    }
    .menu-p{
        margin: 30px 10px 10px 10px;
        font-size: 20px;
    }

    /*profile_setting*/
    .profile-wrapper{
        margin: 0 auto;
        margin-top: 50px;
    }

    .profile_img{
        border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
        width:  150px;       /* ※縦横を同値に */
        height: 150px;       /* ※縦横を同値に */
        margin-right: 100px;
        
    }

    .big_name{
        font-size: 90px;
    }
    
    .profile-wrapper p{
        font-size: 30px;
    }

    /*achievement_setting*/
    .achievement{
        margin-top: 200px;
    }

    .section_subtitile{
        margin-top: 90px;
        margin-bottom: 40px;
        font-size: 40px;
    }

    .section_titile{
        text-align: center;
        font-size: 50px;
    }

    p{
        text-align: center;
    }
    .year{
        margin: 30px 0 15px 0px;
        font-size: 30px;
    }

    .year_left{
        font-size: 30px;
    }

    .tools_img{
        width: 80px;
        margin: 0 5px;
    }

    .flex{
        display: flex;
        justify-content: center;
    }
    .tools_img_spe{
        margin: 10px 0px 0 10px;
        width: 100px;
    }

    .tools_img_spe_1{
        width: 170px;
    }

    .center{
        justify-content: center;
    }

    .tools_img_1{
        border-radius: 50%;
        width: 50px;
        margin-top: 24px;
        margin-left: 55px;
        
    }

    .tools_img_spe_2{
        width: 50px;
        margin-top: 29px;
        margin-left: 50px;
    }
    .between{
        display: flex;
        justify-content: space-between;
    }

    footer{
        margin-top: 300px;
        margin-bottom: 100px;
        color: #fff;
        text-align: center;
        font-size: 20px;

    }

    .photo{
        text-align: center;
        justify-content: center;
    }
     /*========= particle js を描画するエリア設定 ===============*/
    
        #particles-js{ 
        position:fixed;/*描画固定*/
        z-index:-1;/*描画を一番下に*/
        width: 100%;
        height: 100vh;
        background-color:rgb(35, 35, 35);/*背景色*/
        }
    
        #wrapper{
        position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
        z-index: -1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
        width:100%;
        height: 100vh;
        }
    
        article{
            background-color: #fff;
        }

        .year_achievement_1{
            margin-left: -25px;
            margin-top: 10px;
        }
}
html { scroll-behavior:smooth;}
/*-----------アンカー設定-------*/
a.anchor{
    display: block;
    padding-top: 50px;
    margin-top: -50px;
}

img {
    max-width: 90%;
}
